body
{
    background-color: FFFFFF;
    color: #666666;
}
header
{
    background-color: #000033;
    color: FFFFFF;
}
nav-down
{
    background-color: #90C7E3;
}
h2
{
    color: #3399CC;
}
dt, h3
{
    color: #000033;
}
.resort
{
    color: #5C7FA3;
}